
.content {
    text-align: center;
    margin-top: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    display: inline-block;
    background: #276D8F;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background: #214E64;
  }
  